
<div id="<% dom_id friend %>">
      <tr>
      <th scope="row"><%= friend.first_name %></th>
      <td><%= friend.last_name %></td>
      <td><%= friend.email %></td>
      <td><%= friend.phone%></td>
      <td><%= friend.twitter%></td>
      <td><%= friend.user_id%></td>
      <td><%= link_to "Show", friend, class:"btn btn-primary" %></td>
      </tr>
   

</div>


